<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <span class="brand-text font-weight-light">پنل مدیریت</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar" style="direction: ltr">
    <div style="direction: rtl">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3">
        <div class="info">
          <div style="color: aliceblue;" class="">سلام <%= userName %> </div>
          <br>
          <a href="/users/logout" class="btn btn-danger">خروج</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/" class="nav-link active">
              <i class="fa fa-circle-o nav-icon"></i>
              <p>داشبورد </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-edit"></i>
              <p>
                محصول
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/products/newproduct" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>تعریف محصول</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/products" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>لیست محصولات</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-pencil"></i>
              <p>
                فاکتور
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/facktors/newfacktor" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>ثبت فاکتور</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/facktor" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>لیست فاکتور ها</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>
                کاربران
                <i class="fa fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/users/newUser" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>تعریف کاربر</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/users" class="nav-link">
                  <i class="fa fa-circle-o nav-icon"></i>
                  <p>لیست کاربران</p>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
  </div>
  <!-- /.sidebar -->
</aside>